In [1]:
import pandas as pd

In [5]:
data = "cities.csv"
cities_df = pd.read_csv(data)
cities_df.tail()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
533,533,Skjervøy,98,NO,1589156877,82,70.03,20.97,274.73,4.58
534,534,Shangzhi,76,CN,1589156877,63,45.22,127.97,284.87,5.68
535,535,Pital,78,CO,1589156877,82,2.27,-75.80,294.64,2.46
536,536,Douentza,51,ML,1589156877,35,15.00,-2.95,304.10,2.82
537,537,Española,1,US,1589156877,18,35.99,-106.08,296.48,3.60

In [17]:
output_location = "cities.html"
cities_df.to_html(output_location)

TypeError: to_html() got an unexpected keyword argument 'encoding'